Package: pi-hole
Version: 
Depends: bash, bind-dig, ca-bundle, coreutils-cut, coreutils-expr, coreutils-id, coreutils-install, coreutils-ls, coreutils-mktemp, coreutils-printf, coreutils-seq, coreutils-sha1sum, coreutils-sleep, coreutils-stat, coreutils-stty, coreutils-tee, coreutils-timeout, coreutils-tr, coreutils-tty, coreutils-whoami, cron, curl, findutils, git-http, grep, iputils-ping, jq, libcap-bin, lscpu, ncurses-bin, nonroot, rev, sed, ss
Suggests: logrotate
Source: https://github.com/jacklul/entware-pi-hole
License: EUPL-1.2
LicenseFiles: LICENSE
Section: net
URL: https://github.com/pi-hole/pi-hole
Maintainer: Jack'lul, https://jacklul.github.io
Architecture: 
Installed-Size: 
Description:  The Pi-hole is a DNS sinkhole that protects your devices from unwanted content without installing any client-side software.
 This is an unofficial package not supported by the Pi-hole developers!
